:root{
  /* CSS HEX */
--forest-green-web: #2F8136ff;
--coffee: #744A33ff;
--forest-green-web-2: #358534ff;
--davys-grey: #575a5eff;
--dark-jungle-green: #222823ff;

/* CSS HSL */
--forest-green-web: hsla(125, 47%, 35%, 1);
--coffee: hsla(21, 39%, 33%, 1);
--forest-green-web-2: hsla(119, 44%, 36%, 1);
--davys-grey: hsla(214, 4%, 35%, 1);
--dark-jungle-green: hsla(130, 8%, 15%, 1);
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.gnd {
  display: inline-block;
  margin: -5px -5px 0 0;
  padding: 0 0 0 0;
  background-image: url('./terrain/terrain.png');
  background-repeat: no-repeat;
  width: 96px;
}
.gnd-tilled-in-grass {
  height: 96px;
  background-position: -576px -256px;
}
.gnd-dirt {
  height: 32px;
  background-position: 0 -160px;
}
.gnd-tilled {
  height: 32px;
  width: 64px;
  background-position: -608px -352px;
}
.gnd-grass-in-tilled {
  height: 64px;
  width: 64px;
  background-position: -608px -192px;
}
.gnd-grass {
  height: 32px;
  width: 64px;
  background-position: -32px -352px;
}